<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A tool that uses LLaMA to be your new research assistant!">
    <meta name="author" content="Nicholas Griffin">

    <title>{% block title %}{% endblock %} LLaMA Research Assistant</title>
    <link rel="icon" href="{{ url_for('static', path='/images/favicon.ico') }}" sizes="32x32" />

    <link href="{{ url_for('static', path='/css/reset.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/global.css') }}" rel="stylesheet">

    {% endblock %}
</head>

<body>
    <div class="wrapper">
        <div id="content">
            {% block page_content %}
            {% endblock %}
        </div>
    </div>


    {% block scripts %}

    {% endblock %}
</body>

</html>