{% extends "base.html" %}
{% set active_page = "chatbot" %}

{% block title %}Chatbot{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}

{% block page_content %}
<main role="main" class="container">
  <div class="row">
    <div class="col">
      <h1>Chatbot</h1>
      <ul id="messages"></ul>
      <form action="" onsubmit="sendMessage(event)">
        <input type="text" id="messageText" autocomplete="off" />
        <button>Send</button>
      </form>
    </div>
  </div>
</main>

<script>

</script>

{% endblock %}

{% block scripts %}
{{ super() }}

<script src="{{ url_for('static', path='/js/chatbot.js') }}"></script>


{% endblock %}