{% extends "base.html" %}
{% set active_page = "question" %}

{% block title %}Answer Question{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}

{% block page_content %}
<main role="main" class="container">
  <div class="row">
    <div class="col">
      <h1>Answer Question</h1>
      {% if message %}
      {{ message }}
      {% endif %}
      {% if result %}
      <h2>The answer is:</h2>
      <pre>{{result}}</pre>
      {% endif %}
      <h3>Submit Request</h3>
      <form action="/question" method="post">
        <label for="query">Enter your question:</label>
        <textarea name="query" required></textarea>
        <input type="submit" />
      </form>
    </div>
  </div>
</main>


{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}